body{
    background-color: #FAFAFA !important;
    padding-top: 60px !important;
    min-width: 373px !important;
}
.overflow-visible{ overflow: visible !important; }
.text_grayish{ color: #666 !important; }
.mdl-badge[data-badge]:after{
	background-color: #D14423 !important;
}
.mdl-menu__item{ color: #232323 !important; }
.mdl-menu__item:hover,.mdl-menu__item:focus{ background-color: #174EA6 !important; color: #fff !important;}
button, .mdl-layout__drawer-button, a{ outline: none !important; cursor: pointer; }
.myButton1{
    background-color: #3853D8;
    background: -moz-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
    background: -webkit-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
    background: linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important; 
    border-radius: 90px !important;
    height: initial !important;
    border: 1px solid rgba(225, 225, 225, .2) !important;
    box-shadow: 0px 5px 10px 0px rgba(69, 135, 244, .4) !important;
}
.small_txt{ font-size: 11px !important; letter-spacing: 2px !important; }
.mybg_secondary{ background-color: #FF4F72 !important; }
.mybg_primary{ background-color: #173EA6 !important; }
.fab_holder{
    position: fixed !important;
    bottom: 20px;
    right: 35px;
    z-index: 1 !important;
}
.mesFabHolder{ display: none; }
.add_item, .compose_fab{
	position: relative;
	background-color: #174EA6 !important;
}
.add_item:hover, .compose_fab:hover {
  box-shadow: 0 0 1px 10px rgba(23, 78, 166, 0.3), 0 0 1px 22px rgba(23, 78, 166, 0.1), 0 0 1px 32px rgba(23, 78, 166, 0.1), 0 0 1px 37px rgba(23, 78, 166, 0.08);
}

@media screen and (max-width: 1024px){
    .mesFabHolder{ display: block; }
}
#cust_modal, #media_modal, #updateModal{ bottom: initial !important; overflow: visible;}
.ui.modal > .header{
    border-bottom: 0px !important;
}

.cust_gradient{
   background-color: #1561DD !important;
  background: -moz-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
  background: -webkit-linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important;
  background: linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important; 
}

/*for modal close button*/
/*.close_btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.close-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.close-button > div {
  position: relative;
}
.close-button-block {
  width: 35px;
  height: 15px;
  position: relative;
  overflow: hidden;
}
.close-button-block:before, .close-button-block:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(55% - 3px);
  display: block;
  width: 3px;
  height: 20px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background: #434343;
  transition: all ease-out 280ms;
}
.close-button-block:last-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.close-button .in .close-button-block:before {
  transition-delay: 280ms;
  -webkit-transform: translateX(20px) translateY(-20px) rotate(45deg);
          transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.close-button .in .close-button-block:after {
  transition-delay: 280ms;
  -webkit-transform: translateX(-22px) translateY(-22px) rotate(-45deg);
          transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.close-button .out {
  position: absolute;
  top: 0;
  left: 0;
}
.close-button .out .close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button .out .close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .in .close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button:hover .in .close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .out .close-button-block:before {
  -webkit-transform: translateX(-20px) translateY(20px) rotate(45deg);
          transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.close-button:hover .out .close-button-block:after {
  -webkit-transform: translateX(20px) translateY(20px) rotate(-45deg);
          transform: translateX(20px) translateY(20px) rotate(-45deg);
}



.mdl-textfield__label:after{
    bottom: 13px !important;
    background-color: #1561DD !important;
    background: -moz-linear-gradient(90deg, #3853D8 0%, #4587F4 100%) !important;
    background: -webkit-linear-gradient(90deg, #3853D8 0%,#4587F4 100%) !important;
    background: linear-gradient(90deg, #3853D8 0%,#4587F4 100%) !important; 
}
.mdl-textfield--floating-label.is-focused.mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
    color: #174EA6 !important;
}
.modal_form{ max-width: 70%; margin: 0 auto; width: 100%;}
.ft_img_container img, .image_from_library_wrapper >span > img{ cursor: pointer !important; }

.lead > small { font-weight: 300 !important; }
.view_more{ color: rgba(0,0,0,.65) !important; }
.view_more_btn{ overflow: visible !important; }

.handle{ cursor: all-scroll !important; }

/* FOR TAB IN MEDIA AND LIBRARY */

.cust_tabs{
  font-size:15px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.cust_tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.cust_tabs a.active{
  color:#fff;
}

.cust_tabs a i{
  margin-right:5px;
}

.cust_tabs .cust_selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background-color: #1561DD !important;
  background: -moz-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
  background: -webkit-linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important;
  background: linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important; 
}
/*.cust_selector_width{ width: 160px !important; }*/




#prod_desc{ resize: none; overflow: auto; }

.table_container{
  background-color: white;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
  background: #174EA6 !important;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline{
  border: 2px solid #174EA6 !important;
}
.table thead th,.table td, .table th{ vertical-align: middle !important; }
.table-responsive{ overflow-y: hidden !important; }

.SNLactive{
  background-color: #1561DD !important;
  background: -moz-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
  background: -webkit-linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important;
  background: linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important; 
}

.panel_wrapper .panel, .panel2_wrapper .panel2{
  border-radius: 5px !important;
  padding: 8px;
  position: relative;
}
.panel2{ width: 90%; }
.panel_wrapper .panel:after, .panel2_wrapper .panel2:after{
  content: '';
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80%;
  position: absolute;
  filter: blur(10px);
  z-index: -1;
}
.panel_wrapper_plain .panel{
  background-color: #fff;
  color: #232323;
  border-radius: 5px !important;
  padding: 8px;
  position: relative;
}
.panel_wrapper_plain .panel:after{
  content: '';
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 90%;
  position: absolute;
  filter: blur(10px);
  z-index: -1;
  background-color: #666;
}
.panel_wrapper:nth-child(1) .panel, .panel2_wrapper:nth-child(1) .panel2{
  background-color: #174EA6;
  background: -moz-linear-gradient(45deg, #173EA6 0%, #09A4E0 100%);
  background: -webkit-linear-gradient(45deg, #173EA6 0%,#09A4E0 100%);
  background: linear-gradient(45deg, #173EA6 0%,#09A4E0 100%);
}
.panel_wrapper:nth-child(1) .panel:after, .panel2_wrapper:nth-child(1) .panel2:after{
  background-color: #174EA6;
  background: -moz-linear-gradient(45deg, #173EA6 0%, #09A4E0 100%);
  background: -webkit-linear-gradient(45deg, #173EA6 0%,#09A4E0 100%);
  background: linear-gradient(45deg, #173EA6 0%,#09A4E0 100%);
}
.panel_wrapper:nth-child(2) .panel, .panel2_wrapper:nth-child(2) .panel2{
  background-color: #FF4F72;
  background: -moz-linear-gradient(45deg, #FF4F72 0%, #FF988B 100%);
  background: -webkit-linear-gradient(45deg, #FF4F72 0%,#FF988B 100%);
  background: linear-gradient(45deg, #FF4F72 0%,#FF988B 100%);
}
.panel_wrapper:nth-child(2) .panel:after, .panel2_wrapper:nth-child(2) .panel2:after{
  background-color: #FF4F72;
  background: -moz-linear-gradient(45deg, #FF4F72 0%, #FF988B 100%);
  background: -webkit-linear-gradient(45deg, #FF4F72 0%,#FF988B 100%);
  background: linear-gradient(45deg, #FF4F72 0%,#FF988B 100%);
}
.panel_wrapper:nth-child(3) .panel{
  background-color: #09B1E7;
  background: -moz-linear-gradient(45deg, #09B1E7 0%, #29F39A 100%);
  background: -webkit-linear-gradient(45deg,#09B1E7 0%,#29F39A 100%);
  background: linear-gradient(45deg, #09B1E7 0%,#29F39A 100%);
}
.panel_wrapper:nth-child(3) .panel:after{
  background-color: #09B1E7;
  background: -moz-linear-gradient(45deg, #09B1E7 0%, #29F39A 100%);
  background: -webkit-linear-gradient(45deg,#09B1E7 0%,#29F39A 100%);
  background: linear-gradient(45deg, #09B1E7 0%,#29F39A 100%);
}
.panel_wrapper:nth-child(4) .panel{
  background-color: #717CFE;
  background: -moz-linear-gradient(45deg, #717CFE 0%, #FD83EC 100%);
  background: -webkit-linear-gradient(45deg, #717CFE 0%,#FD83EC 100%);
  background: linear-gradient(45deg, #717CFE 0%,#FD83EC 100%);
}
.panel_wrapper:nth-child(4) .panel:after{
  background-color: #717CFE;
  background: -moz-linear-gradient(45deg, #717CFE 0%, #FD83EC 100%);
  background: -webkit-linear-gradient(45deg, #717CFE 0%,#FD83EC 100%);
  background: linear-gradient(45deg, #717CFE 0%,#FD83EC 100%);
}

.text-opacity-6{ opacity: .6; }
.letter-spacing-2{ letter-spacing: 2px; }
.image_holder{ margin-left: 60px; max-height: 266px; }
.image_holder img { max-height: 206px; }

.radius-5{ border-radius: 5px !important; }
.radius-3{ border-radius: 3px !important; }
.bottom_radius-5{ border-bottom-right-radius: 5px !important; border-bottom-left-radius: 5px !important; }

.ct-series-a .ct-line{
  stroke: #1742A9 !important;
  stroke-width: 3px;
}
.ct-series-a .ct-point{
  stroke: #1742A9 !important;
  stroke: 5px;
}
.ct-perfect-fourth:before{
  padding-bottom: 300px !important;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie{
  fill: #1168BE !important;
}
.ct-area{ fill-opacity: .65 !important; }
.table thead th{
  background-color: #E1E1E1 !important;
}
.itemParaRAP p{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*pagination*/

.pagination {
    justify-content: center !important;
    margin: 0 !important;
}
/*.pagination .page-item{ padding: 10px 16px !important; }*/
.pagination .page-item .page-link{
    margin: 10px !important;
    height: 35px !important;
    width: 35px !important;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    transform: scale(.9, .9);
    background-color: #d0d0d0;
    background: -moz-linear-gradient(45deg, #d0d0d0 0%, #fff 100%);
    background: -webkit-linear-gradient(45deg, #d0d0d0 0%,#fff 100%);
    background: linear-gradient(45deg, #d0d0d0 0%,#fff 100%);
}
.pagination .page-item.active .page-link{
    background-color: #1561DD !important;
    background: -moz-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
    background: -webkit-linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important;
    background: linear-gradient(45deg, #3853D8 0%,#4587F4 100%) !important;
    box-shadow: 0px 3px 10px 0px rgba(69, 135, 244, 1) !important;
    border: 0px !important;
    transform: scale(1.3, 1.3);
    cursor: default;
}
.pagination .page-item.disabled .page-link{
    background-color: #d0d0d0 !important;
    background: -moz-linear-gradient(45deg, #d0d0d0 0%, #d0d0d0 100%) !important;
    background: -webkit-linear-gradient(45deg, #d0d0d0 0%,#d0d0d0 100%) !important;
    background: linear-gradient(45deg, #d0d0d0 0%,#d0d0d0 100%) !important;
    cursor: not-allowed;
}




.myicon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}
.mybtn{ background: none !important; border: 0; }
.meidaLib_uploadWrapper{ height: 500px; overflow-y: hidden;}
.mediaLib_imgHolder img{ max-height: 120px; }
.removeAddedImage{
  top: -10px;
  right: -10px;
  position: absolute;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  padding: 6px;
  background-color: rgb(23, 62, 166);
  border-radius: 50%;
  display: none !important;
  z-index: 1;
}
.mediaLib_inner:hover .removeAddedImage{ display: block !important; }
.mediaLib_imagesContainer{
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
.mediaLib_inner{
  border: 1px solid rgba(23, 62, 166, .5);
}


/* FOR SELECTING FROM MEDIA LIBRARY */

.select-container{

}
.selection-checkbox {
  display: none;
}

.selection-highlights {
  -webkit-filter: url("#goo1");
  filter: url("#goo1");
  font-size: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.selection-highlights1 {
  -webkit-filter: url("#goo1");
  filter: url("#goo1");
  font-size: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.selection-highlight,
.selection-item {
  width: 180px;
  height: 180px;
}

.selection-highlight {
  background: #174EA6;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.selection-checkbox:checked+.selection-highlight {
  opacity: 1;
}

.selection-item {
  line-height: 180px;
  text-align: center;
  z-index: 1;
  margin-bottom: 0px !important;
}

.selection-item[data-checked="true"]>.selection-item-container::after {
  content: "";
  display: block;
  border: 4px solid #174EA6;
  border-top: none;
  border-right: none;
  position: absolute;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 45%;
  bottom: 45%;
  left: 40%;
  right: 40%;
  background: transparent;
}

.selection-item-container {
  vertical-align: middle;
  line-height: 150px;
  border-radius: 4px;
  color: #6b6d6f;
  background-color: #fff;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 150px;
  height: 150px;
  cursor: pointer;
  border: 1px solid #174EA6;
}

.selection-item-container .fa {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.selection-item[data-checked="true"] .fa {
  opacity: 0;
}

@media screen and (max-width:380px) {
  .selection-highlight,
  .selection-item {
    width: 100px;
    height: 100px;
  }

  .selection-item {
    line-height: 100px;
  }

  .selection-item-container {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
}
@media screen and (max-width: 655px){
  .selection-highlight,
  .selection-item {
    width: 178px;
    height: 178px;
  }
  .selection-item{
    line-height: 178px;
  }
  .selection-item-container{
    width: 148px;
    height: 148px;
    line-height: 148px;
  }
}
@media screen and (max-width: 925px ){
  .selection-highlight,
  .selection-item {
    width: 170px;
    height: 170px;
  }
  .selection-item{
    line-height: 170px;
  }
  .selection-item-container{
    width: 140px;
    height: 140px;
    line-height: 140px;
  }
}

#tab1{
  max-height: 427px;
  overflow-x:hidden;
  overflow-y: auto; 
}

/* Sanja */
.cbutton {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    color: #286aab;
    font-size: 1.4em;
    overflow: visible;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cbutton.cbutton--click,
.cbutton:focus {
    outline: none;
    color: #3c8ddc;
}

.cbutton__icon { display: block; }

.cbutton__text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}
.cbutton--effect-sanja::after { background: rgba(0,0,0,.25); }

.cbutton--effect-sanja.cbutton--click::after {
    -webkit-animation: anim-effect-sanja 1s ease-out forwards;
    animation: anim-effect-sanja 1s ease-out forwards;
}

@-webkit-keyframes anim-effect-sanja {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-effect-sanja {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.cust_tabs1{ 
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.cust_tabs1 .cust_selector1{
  height:3px;
  width: 50%;
  display:inline-block;
  position:absolute;
  left:0px;
  bottom:0px;
  z-index:1;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: #3853D8;
  background: -moz-linear-gradient(45deg, #3853D8 0%, #4587F4 100%);
  background: -webkit-linear-gradient(45deg, #3853D8 0%,#4587F4 100%);
  background: linear-gradient(45deg, #3853D8 0%,#4587F4 100%);
}
.cust_tabs1 a{ color: #999; }
.cust_tabs1 a:hover{ color: #999; }
.reportsTab_active{ color: #3853D8 !important; }
.table{ border-bottom: 0px !important; }
@media (max-width: 576px){
  .cust_tabs1{
    position: fixed !important;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 5px 0 rgba(0,0,0,.14), 0 -1px 10px 0 rgba(0,0,0,.12), 0 -2px 4px -1px rgba(0,0,0,.2);
    z-index: 10 !important;
  }
  .cust_tabs1 .cust_selector1{ bottom: initial; top: 0px; }
  #myReportTab{ margin-bottom: 30px; }
}


/*date time picker*/
.dtp{ background-color: rgba(0,0,0,0.7)!important; }
.dtp table.dtp-picker-days tr > td > a.selected{
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,.6);
}
.dtp table.dtp-picker-days tr > td > a.selected, .dtp > .dtp-content > .dtp-date-view > header.dtp-header, .dtp table.dtp-picker-days tr > td > a.selected:hover{
  background-color: #3853D8 !important;
}
.dtp div.dtp-date, .dtp div.dtp-time{
  background-color: #1561DD !important;
}
.dtp table.dtp-picker-days tr > td > a{ transition: all .3s; }
.dtp table.dtp-picker-days tr > td > a:hover{
  background-color: #ECECEC !important;
}
.dtp .p10 > a{ color: rgba(225,225,225,.3) !important; }


/*online status*/
.onlineStatus{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.onlineStatus.online{ background-color: #0FB756; }
.onlineStatus.offline{ background-color: #D14423; }

/*search mail*/
.search_mail{ outline: none !important; }
.search_mail_container{ border-bottom: 1px solid #d0d0d0; }

/*messaging layout*/

.mdl-layout__header{
    background-color: initial !important;
    box-shadow: none !important;
    border-bottom: 1px solid #d0d0d0 !important;
}
.mdl-layout-title{ color: #232323 !important; }
@media screen and (max-width: 1024px){
    .mdl-layout__header{ display: initial !important; }
}
.mail_filter{
  font-size: 10px !important;
  border-radius: 0px !important;
}

.vert_seperator{
  width: 1px;
  height: 20px;
  background-color: #d0d0d0;
}
.mail_main_actions{
  height: 40px !important;
  width: 40px !important;
  min-width: initial !important;
  border-radius: 50% !important;
}
.mail_nav button i{ color: #666; }
.mail_star{ color: #F4BA27; }
.unstarred{ color: #666 !important; }
.sender_message{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title{ padding: 0px !important; }
.page-content iframe{
    border: 0px !important;
    width: 100%;
    /*height: calc(100% - 59px);*/
}

[data-tooltip]:after, [data-tooltip]:before{
    font-size: 10px !important;
}
.icon-action{ opacity: .6; transition: opacity .3s; }
.btn_icon-action:hover .icon-action{ opacity: 1; }




/* CUSTOM SNACKBAR */

.cust_snackbar{
    background-color: #232323;
    border-radius: 3px;
    min-width: 300px;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 10;
    opacity: 0;
    user-select: none !important;
}

.order_item{
    border-radius: 5px;
    box-shadow: 0px 5px 26px -3px rgba(0,0,0,0.4);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.order_item:last-child{ margin-bottom: 0px; }
.color_icon{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid #232323;
}
.color_icon.red{ background-color: #F44336; }
.color_icon.pink{ background-color: #E91E63; }
.color_icon.purple{ background-color: #9C27B0; }
.color_icon.deeppurple{ background-color: #673AB7; }
.color_icon.indigo{ background-color: #3F51B5; }
.color_icon.blue{ background-color: #2196F3; }
.color_icon.lightblue{ background-color: #03A9F4; }
.color_icon.cyan{ background-color: #00BCD4; }
.color_icon.teal{ background-color: #009688; }
.color_icon.green{ background-color: #4CAF50; }
.color_icon.lightgreen{ background-color: #8BC34A; }
.color_icon.lime{ background-color: #CDDC39; }
.color_icon.yellow{ background-color: #FFEB3B; }
.color_icon.amber{ background-color: #FFC107; }
.color_icon.orange{ background-color: #FF9800; }
.color_icon.deeporange{ background-color: #FF5722; }
.color_icon.brown{ background-color: #795548; }
.color_icon.grey{ background-color: #9E9E9E; }
.color_icon.bluegrey{ background-color: #607D8B; }
.color_icon.white{ background-color: #f0f0f0; }
.color_icon.black{ background-color: #000; }

.change_order_status_items .mdl-menu__item.active_status{
    background-color: #174EA6;
    color: white !important;
}

/*opening side nav*/
#sidebar {
    width: 300px;
    top: 0;
    right: -628px;
    height: 100vh;
    z-index: 9998;
    background: #fff;
    transition: all 0.5s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /*padding: 100px 100px 100px 178px;*/
}
#sidebar.sidebar_active { right: 0; }
.overlay {
    height: 0vh;
    background: rgba(0, 0, 0, .8);
    z-index: 9997;
    opacity: 0;
    transition: opacity .5s;
    top: 0;
}
.overlay.overlay_active {
    opacity: 1;
    transition: opacity .3s;
    height: 100vh;
}
#sidebar .sidebar-header { padding: 20px; margin-bottom: 60px;z-index: 2; position: relative; }
.sidebar-header img{ z-index: 2; position: relative; }
.menuTxt{    
    transform: rotate(90deg);
    position: absolute;
    bottom: 120px;
    right: -90px;
    z-index: -1;
}
.menuTxt p{
    font-size: 4rem;
    color: #E9EBEE;
    user-select: none;
    font-weight: 900;
}


.monthlySales_chart{
  height: 500px;
}
.bestSeller_chart{
  height: 300px;
}
.amcharts-chart-div a{ display: none !important; }
.amcharts-graph-column-front {
  -webkit-transition: all .3s .3s ease-out;
  transition: all .3s .3s ease-out;
}
.amcharts-graph-column-front:hover {
  fill: #1742A8;
  stroke: #1742A8;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.modal{ bottom: initial !important; }
#order_detail_modal{
}


.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
    /*color: #000;*/
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
}
.dropdown dt a {
    /*background-color: #4F6877;*/
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    /*overflow: hidden;*/
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}
.dropdown dt a:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #1561DD !important;
    background: -moz-linear-gradient(90deg, #3853D8 0%, #4587F4 100%) !important;
    background: -webkit-linear-gradient(90deg, #3853D8 0%,#4587F4 100%) !important;
    background: linear-gradient(90deg, #3853D8 0%,#4587F4 100%) !important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.dropdown dt a:focus:after{
    width: 100%;
}
.dropdown dd ul {
    background-color: #fff;
    border-radius: 3px;
    border: 0;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 100%;
    list-style: none;
    max-height: 300px;
    overflow: auto;
    z-index: 999;
    margin-bottom: 30px;
}
.hidas{
    bottom: 0;
    color: rgba(0,0,0,.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: inline-block;
    top: 13px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition: all .3s;
    padding: 0 3px 2px 0;
}
.multiSel span{ color: #000; text-transform: capitalize; }
.activeHidas{ 
    top: -20px;
    color: #174EA6;
    font-size: 12px !important;
}
.dropdown dt a:focus .hidas{
    top: -20px;
    color: #174EA6;
    font-size: 12px;
}
.dropdown span.value{
  display: none;
}
#addColor{ position: relative; bottom: initial !important; }
#addColorUpdate{ position: relative; bottom: initial !important; }

.nav_account .nav-item{ position: relative; }
.nav_account .nav-item>a{ color: #666; }
.nav_account .nav-item>a>.nav_item_line{
    position: absolute;
    bottom: 0px;
    height: 2px;
    left: 45%;
    background-color: #3853D8;
    background: -moz-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
    background: -webkit-linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important;
    background: linear-gradient(45deg, #3853D8 0%, #4587F4 100%) !important; 
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
    width: 10px;
}
.nav_account .nav-item>a>.nav_item_line.visible{
    left: 0;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: visible;
    width: 100%;
}
.blurring.dimmable>.dimmer{ background-color: rgba(0,0,0,0.8) !important; }


/* expanding search */
.search-wrap{
    width: 300px;
}
#custBtn-search{
    position: absolute;
    right: 0;
    height: 60px !important;
    min-width:  initial !important;
    width: 60px !important;
    line-height: initial !important;
    border-radius: 50% !important;
}
.search_input{
    height: 40px;
    border: 1px solid #1561DD !important;
    outline: none !important;
    width: 0px;
    padding: 10px 47px 10px 10px;
    border-radius: 90px;
    transition: all .3s;
}
.search_input.expand{ width: 90%;padding: 10px 65px 10px 10px; }